@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Crimson+Text);

body {
  font-family: 'Crimson Text', serif;
  background-color: #eee;
  background-attachment: fixed;
  background-position: 0 0, 29px 29px;
  background-size: 58px 58px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
 
  padding: 0;
  margin: 0;
 
  font-size: 1em;
}

ul, ol {
  padding: 0;
}
 
.container {
  width: 60%;
  margin: 0 auto;
  min-height: 100%;
  background: white;
  border: 1px solid #eee inset;
  box-shadow: 0 1px 35px rgba(0,0,0,0.1);
}
 
header {
  background-color: rgb(239, 83, 88);
  background: linear-gradient(rgb(28, 188, 214), rgb(98, 128, 167));
  padding: 20px 15px 15px 15px;
  position: relative;
  color: #FFF;
}

#login-buttons {
  float: right;
}

#login-buttons .login-close-text {
  float: right;
}

#login-dropdown-list {
  right: 0;
  left: inherit;
}

h1 {
  font-family: 'Lato';
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
}

a {
  color: #000;
  text-decoration: none;
  font-size: 1.3em;
}

header a {
  color: #fff;
}

form {
  padding: 10px;
  margin: 0 10px;
}

form input, form textarea {
  box-sizing: border-box;
  margin: 10px;
  padding: 10px;
  background: #FFF;
  border: 1px solid #828282;
  border-radius: 5px;
  font-size: 1em;
  text-align: left;
  color: #828282;
  box-shadow: 0 1px 10px rgba(0,0,0,0.1);
}

form textarea {
  color: #000;
}

form input[type="text"], form textarea {
  width: 35%;
  min-width: 200px;
}

form input[type="submit"] {
  vertical-align: top;
  cursor: pointer;
  transition: all 0.1s linear;
}

form input[type="submit"]:hover {
  color: #fff;
  background-color: #828282;
}

form input:focus{
  box-shadow: 0 1px 10px rgba(0,0,0,0.2);
}

.input-area {
  display: block;
  border-bottom: 1px solid #eee;
}

.input-area > form {
  display: inline-block;
}
 
.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  color: #828282;
  border: none;
  position: relative;
  cursor: pointer;
}

.clearSearch {
  font-weight: bold;
  background: none;
  font-size: 1em;
  color: #828282;
  border: none;
  position: relative;
  cursor: pointer;
  left: -40px;
}

.posts > ol {
  margin: 0;
  padding: 10px;
  background: white;
}
 
.posts > li {
  list-style-type: decimal;
  list-style-position: inside;
  padding: 15px;
  border-bottom: #eee solid 1px;
  color: #828282;
}

.comments {
  margin: 0;
  padding: 10px;
}

.comments > li {
  margin: 15px 30px;
  border-bottom: #eee solid 1px;
}

.comments p {
  margin: 0;
}

.comment-text {
  font-family: 'Lato';
}

.comment-details {
  color: #828282;
  font-size: smaller;
}

.postWrap {
  display: inline-block;
  vertical-align: -100%;
}

.postDetails a {
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}

.postUrl a:visited {
  color: #828282;
}

.postDetails {
  color: #828282;
  font-size: 1em;
}

.vote {
  padding-right: 6px;
}

.vote path{
  cursor: pointer;
}

.upvote.checked {
  fill: rgb(59, 210, 61);
}

.downvote.checked {
  fill: rgb(246, 80, 88);
}

.show-post {
  padding: 20px;
}



@media (max-width: 990px) {
  li {
    padding: 12px 15px;
  }
 
  .text-input input {
    padding-bottom: 5px;
  }
  
  .text-input input[type="text"] {
    width: 100%;
  }
  
  .container {
    width: 100%;
  }
}