@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Crimson+Text);

body {
  font-family: 'Crimson Text', serif;
  background-color: #EEE;
  background-attachment: fixed;
 
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
 
  padding: 0;
  margin: 0;
 
  font-size: 1em;
}
 
.container {
  width: 60%;
  margin: 0 auto;
  min-height: 100%;
  background: white;
  border: 1px solid #eee inset;
  box-shadow: 0 1px 35px rgba(0,0,0,0.1);
}
 
header {
  background: rgb(239, 83, 88);
  padding: 20px 15px 15px 15px;
  position: relative;
  color: #FFF;
}

#login-buttons {
  float: right;
}

#login-buttons .login-close-text {
  float: right;
}

#login-dropdown-list {
  right: 0;
  left: inherit;
}

h1 {
  font-family: 'Lato';
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
}
 
form {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: -10px;
  position: relative;
}

.new-post input {
  box-sizing: border-box;
  margin: 10px;
  padding: 10px;
  background: #FFF;
  border: 1px solid #828282;
  border-radius: 5px;
  font-size: 1em;
  text-align: left;
  color: #828282;
}

.new-post input[type="text"] {
  width: 35%;
  min-width: 200px;
}

.new-post input:focus{
  outline: blue;
}
 
ol {
  margin: 0;
  padding: 10px;
  background: white;
}
 
.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  color: #828282;
  border: none;
  position: relative;
  cursor: pointer;
}
 
li {
  list-style-type: decimal;
  list-style-position: inside;
  position: relative;
  padding: 15px;
  border-bottom: #eee solid 1px;
  color: #828282;
}

.postWrap {
  display: inline-block;
  vertical-align: -100%;
}

.postUrl a {
  color: #000;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  font-size: 1.3em;
}

.postUrl a:visited {
  color: #828282;
}

.postDetails {
  font-size: 1em;
}

.vote {
  padding-right: 6px;
}

.vote path{
  cursor: pointer;
}

.upvote.checked {
  fill: rgb(59, 210, 61);
}

.downvote.checked {
  fill: rgb(246, 80, 88);
}

@media (max-width: 990px) {
  li {
    padding: 12px 15px;
  }
 
  .new-post input {
    padding-bottom: 5px;
  }
  
  .new-post input[type="text"] {
    width: 100%;
  }
  
  .container {
    width: 100%;
  }
}